<cs-app-banner [title]="title"></cs-app-banner>
<!-- Mission statement / goals-->
<div class="main-content border">
    <p class="mission-text">The purpose of Camp Salvation is “to evangelize, to educate, and to train
        in the art of Christian living.” Every activity is designed for that purpose: to point
        young people into a relationship with Jesus Christ or to train those who already know Him how
        to live for Him. While you don’t have to be at camp to know Christ or grow in Him, there is something
        powerful about getting away into the mountains and away from all the distractions that usually come
        between us and our Creator.
    </p>
    <cs-app-expand-box [boxDataObserver]='missionStatements' accordianTitle='missionStatement'>
        <p class="mission__statement-of-faith-text">
            The Bible, which is verbally inspired by the Holy Spirit and inerrant in the original manuscript is the infallible and authoritative Word of God.
            The Triune Godhead in three Persons – Father, Son, and Holy Spirit. <br /><br />

            The personality of Satan, called the devil, and his present control over unregenerate mankind. <br /><br />

            The fall and lost estate of man, whose total depravity makes necessary the new birth. you must receive the
            Christ
            personally by faith. We believe that all the redeemed once saves are kept by God’s power and thus secure in
            Christ
            forever. (John 10:28-29; 5:24) <br /><br />

            The deity of Jesus Christ, His virgin birth, sinless life, death, bodily resurrection, present exaltation at
            God’s
            right hand, and personal and imminent return. We believe in His personal pre-tribulationary rapture and
            pre-millennial return to earth. <br /><br />

            The atonement by the substitutionary death and shed blood of Jesus Christ our Lord and Savior. <br /><br />


            The resurrection of the saved unto everlasting life and blessedness in heaven, and the resurrection of the
            unsaved
            unto everlasting punishment into the lake of fire. <br /><br />

            The church, the body, or the bride of Christ, consisting only of those who are born again, for whom He now
            makes
            intercession in Heaven and for whom He shall come again. <br /><br />

            Christ’s commission to the church to go into all the world and preach the gospel. <br /><br />

            We are not in agreement with the ecumenical movement. <br /><br />

            That we are called with a holy calling to walk not after the flesh, but after the Spirit (Rom. 8:12-13,
            13:14; I
            Peter 1:14-16) and so to live in the Spirit that we shall not fulfill the lusts of the flesh (Eph. 4:22-24),
            but
            the flesh being in us to the end of our earthly pilgrimage (I John 1:8) needs to be kept constantly in
            subjection
            to Christ (Col. 3:1-10) through the operating of the Holy Spirit (Gal. 5:22-23), or it will surely manifest
            its
            presence to the dishonor of His name (Gal. 5:17-21) <br /><br />

            That the gift of speaking in tongues was temporary and ceased with the completion of the canon of scriptures
            (I
            Cor. 13:8-10), that the speaking in tongues is separate from the other gifts or ministries of the Holy
            Spirit,
            such as regeneration (Titus 3:5), indwelling (I John 4:13), baptism (I Cor. 12:13), filling and sealing
            (Eph.
            5:8,
            1:13-14, 4:30), that all New Testament believers are baptized by the Holy Spirit at the moment of conversion
            (I
            Cor. 12:13; Rom. 8:9) <br /><br />

            We recognize baptism and the Lord’s Supper. We believe that both of these privileges are for believers only
            and
            that they are signs only, with no saving grace or merit in them. We believe that baptism should by by
            immersion,
            and these ordinances are the responsibility of the local churches to conduct. (Matt. 3:16; Mark 1:9-10; Rom.
            6:3-4; I Cor. 11:23-29<br /><br />
        </p>
    </cs-app-expand-box>    
</div>