<cs-app-banner title="Frequently Asked Questions"></cs-app-banner>

<div id="faq-content" class="border">
    <h2>General Questions</h2>
    <cs-app-expand-box accordianTitle="generalSection" [boxDataObserver]="generalBoxData"></cs-app-expand-box>
    <h2>For Parents and Campers</h2>
    <cs-app-expand-box accordianTitle="campersSection" [boxDataObserver]="campersBoxData"></cs-app-expand-box>
    <h2>For Staff</h2>
    <cs-app-expand-box accordianTitle="staffSection" [boxDataObserver]="staffBoxData"></cs-app-expand-box>
</div>