<cs-app-banner title="Frequently Asked Questions"></cs-app-banner>

<div id="faq-content" class="border">
    <h2>General Questions</h2>
    <cs-app-expand-box accordianTitle="generalSection" [boxDataObserver]="expandBoxData"></cs-app-expand-box>
    <h2>General Questions</h2>
    <cs-app-expand-box accordianTitle="campersSection" [boxDataObserver]="expandBoxData"></cs-app-expand-box>
    <h2>General Questions</h2>
    <cs-app-expand-box accordianTitle="staffSection" [boxDataObserver]="expandBoxData"></cs-app-expand-box>
</div>