.contact-container
{
    background-image: url("^assets/wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.contact-flex
{
    display: flex;
}

.contact-text
{
    color: lightgray;
    font-size: 1.1rem;
    
        text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    margin: auto;
}


.site-item
{
    color: black;
}