/* You can add global styles to this file, and also import other style files */
body
{
    background-color: white;
    font-family: 'Cabin Sketch', cursive;   
}

h1
{
    font-size: 3vw;
}

p
{
    font-size: 2vw !important;
}

A
{
    text-decoration: none !important;  
}